    <div class="clearfix"></div>
    
    <!----- footer ----->
    <div class="container"><footer id="footer" class="col-md-12">{level200}</footer></div>
    <!----- /footer ----->

    <!----- js ----->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{template_dir}/js/jquery-1.10.1.min.js"></script>
    <script src="{template_dir}/js/bootstrap.min.js"></script>
    <script src="{template_dir}/js/main.js"></script>
    <!----- /js ----->
    
    <!----- google search style ----->
    <link rel="stylesheet" href="{template_dir}/css/search.css">
    <!----- /google search style ----->
