<!DOCTYPE html>
<html lang="{ulang}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>

    <!-- CSS -->
    {if:!controller_name=gallery}
    <link rel="stylesheet" type="text/css" href="{root}bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{root}bootstrap/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{root}skins/{skin}/bootstrap-custom.css">
    {endif:!controller_name=gallery}
    
    {if:controller_name=(edit,ftp,menu,admin,index,trash,gallery,proof,observer)}
    <link type="text/css" rel="stylesheet" href="{root}skins/{skin}/tdedit.css" /> 
    {endif:controller_name=(edit,ftp,menu,admin,index,trash,gallery,proof,observer)}
	
    <!-- end CSS -->

    {include:scripts.jquery.html}
    {include:user.scripts.html}
    {include:kameleon.header.html}
    <META NAME="DESCRIPTION" CONTENT="Server address: {_SERVER.SERVER_ADDR}"/>
</head>
<body>
{if:config.global.analytics.code}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  
  ga('create', '{config.global.analytics.code}','auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview', {
    'page': '/{controller_name}/{controller_action}',
    'title': '{controller_name}{if:server} - {server.nazwa}{endif:server}'
  });
  

</script>
{endif:config.global.analytics.code}    
<div id="km_pastediv"></div>

<!-- 
	template -->
{template}
<!-- 
	template END -->

{if:show_footer}{include:kameleon.footer.html}{endif:show_footer}

{if:tips}
{include:kameleon.tips.html}
{endif:tips}
</body>
</html>
