<script type="text/javascript">
    $ = jQueryKam;
</script>

<!-- elfinder styles -->
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/common.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/dialog.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/toolbar.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/navbar.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/statusbar.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/contextmenu.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/cwd.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/quicklook.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/commands.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{root}elFinder/css/theme.css">

<style type="text/css">
    body {
        font-size:14px;
    }
    .elfinder-quicklook-navbar-icon-fullscreen {
        visibility: hidden;
    }
</style>

<!-- elfinder core -->
<script src="{root}elFinder/js/elFinder.js"></script>
<script src="{root}elFinder/js/elFinder.version.js"></script>
<script src="{root}elFinder/js/jquery.elfinder.js"></script>
<script src="{root}elFinder/js/elFinder.resources.js"></script>
<script src="{root}elFinder/js/elFinder.options.js"></script>
<script src="{root}elFinder/js/elFinder.history.js"></script>
<script src="{root}elFinder/js/elFinder.command.js"></script>

<!-- elfinder ui -->
<script src="{root}elFinder/js/ui/overlay.js"></script>
<script src="{root}elFinder/js/ui/workzone.js"></script>
<script src="{root}elFinder/js/ui/navbar.js"></script>
<script src="{root}elFinder/js/ui/dialog.js"></script>
<script src="{root}elFinder/js/ui/tree.js"></script>
<script src="{root}elFinder/js/ui/cwd.js"></script>
<script src="{root}elFinder/js/ui/toolbar.js"></script>
<script src="{root}elFinder/js/ui/button.js"></script>
<script src="{root}elFinder/js/ui/uploadButton.js"></script>
<script src="{root}elFinder/js/ui/viewbutton.js"></script>
<script src="{root}elFinder/js/ui/searchbutton.js"></script>
<script src="{root}elFinder/js/ui/sortbutton.js"></script>
<script src="{root}elFinder/js/ui/panel.js"></script>
<script src="{root}elFinder/js/ui/contextmenu.js"></script>
<script src="{root}elFinder/js/ui/path.js"></script>
<script src="{root}elFinder/js/ui/stat.js"></script>
<script src="{root}elFinder/js/ui/places.js"></script>

<!-- elfinder commands -->
<script src="{root}elFinder/js/commands/back.js"></script>
<script src="{root}elFinder/js/commands/forward.js"></script>
<script src="{root}elFinder/js/commands/reload.js"></script>
<script src="{root}elFinder/js/commands/up.js"></script>
<script src="{root}elFinder/js/commands/home.js"></script>
<script src="{root}elFinder/js/commands/copy.js"></script>
<script src="{root}elFinder/js/commands/cut.js"></script>
<script src="{root}elFinder/js/commands/paste.js"></script>
<script src="{root}elFinder/js/commands/open.js"></script>
<script src="{root}elFinder/js/commands/rm.js"></script>
<script src="{root}elFinder/js/commands/info.js"></script>
<script src="{root}elFinder/js/commands/duplicate.js"></script>
<script src="{root}elFinder/js/commands/rename.js"></script>
<script src="{root}elFinder/js/commands/help.js"></script>
<script src="{root}elFinder/js/commands/getfile.js"></script>
<script src="{root}elFinder/js/commands/mkdir.js"></script>
<script src="{root}elFinder/js/commands/mkfile.js"></script>
<script src="{root}elFinder/js/commands/upload.js"></script>
<script src="{root}elFinder/js/commands/download.js"></script>
<script src="{root}elFinder/js/commands/edit.js"></script>
<script src="{root}elFinder/js/commands/quicklook.js"></script>
<script src="{root}elFinder/js/commands/quicklook.plugins.js"></script>
<script src="{root}elFinder/js/commands/extract.js"></script>
<script src="{root}elFinder/js/commands/archive.js"></script>
<script src="{root}elFinder/js/commands/search.js"></script>
<script src="{root}elFinder/js/commands/view.js"></script>
<script src="{root}elFinder/js/commands/resize.js"></script>
<script src="{root}elFinder/js/commands/sort.js"></script>

<!-- elfinder language -->
<script src="{root}elFinder/js/i18n/elfinder.{ulang}.js"></script>

<!-- elfinder dialog -->
<script src="{root}elFinder/js/jquery.dialogelfinder.js"></script>