{include:_header.html}
<div class="km_nheader">
    <div class="km_nheader_left">
        <div class="km_ddmenu">
            <ul class="sf-menu">
                <li class="sf-disable">
                    <a>{translate.Page}</a>
                </li>

                <li class="sf-disable">
                    <a>{translate.View}</a>
                </li>

                <li class="sf-disable">
                    <a>{translate.Insert}</a>
                </li>

                <li class="sf-disable">
                    <a>{translate.Layout}</a>
                </li>

                <li>
                    <a>{translate.Tools}</a>
                    <ul>
                        <li><a href="{root}wizard" id="km_ddmenu_wizard">{translate.My services}</a></li>
                        <li><a href="{root}tree/explorer?node={page.id}" id="km_ddmenu_explorer">{translate.Explorer}</a></li>
                        <li><a href="{root}menu/get?setreferpage={page.id}" id="km_ddmenu_menus">{translate.Menu}</a></li>
                        {if:server.ftp}
                        <li><a href="{root}ftp/get?setreferpage={page.id}" id="km_ddmenu_publikacja">{translate.FTP}</a></li>
                        {endif:server.ftp}
                        <li><a href="{root}trash?setreferpage={page.id}" id="km_ddmenu_trash">{translate.Trash}</a></li>
                    </ul>
                </li>
                {include:_menu.help.html}
            </ul>
        </div>

    </div>
    <div class="km_clean"></div>
</div>

{if:error}<h1>{translate|trans:$error}</h1>{endif:error}


<form method="post" name="link" style="overflow:hidden" {if:session.server.map_url}onsubmit="alert('{translate.Unmap your URL first}'); return false" class="km_icon_disabled"{endif:session.server.map_url}>
    <div class="km_fbtn">
	    <input class="km_fbtn_action" type="submit" value="{translate.Save and exit}" />
	    <a class="km_fbtn_normal" href="{root}ftp/get">{translate.Cancel}</a>
    </div>
    <div>
    
	<ul class="km_zakladki">
	    <li class="active">
		<a rel="in___FTP__">{translate.FTP}</a>
	    </li>
	</ul>

	<div class="km_zakladka km_zakladka_in___FTP__" style="display:block">
	    <div class="edit_box" id="liopt_in_ftp_server">
		<div class="label">{translate.FTP Server [:port]}:</div>
		<div class="value">
		    <input id="in_ftp_server" name="ftp[ftp_server]" size="30" value="{ftp.ftp_server|trim}" class="k_input" type="text" />
		</div>
	    </div>
	    <div class="edit_box" id="liopt_in_ftp_passive">
		<div class="label">{translate.Passive mode}:</div>
		<div class="value">
		    <input type="hidden" name="ftp[ftp_pasive]" value="0" />
		    <input id="in_ftp_pasive" name="ftp[ftp_pasive]" {if:ftp.ftp_pasive}checked{endif:ftp.ftp_pasive} value="1" class="k_checkbox" type="checkbox" />
		</div>
	    </div>
	    
	    
	    <div class="edit_box" id="liopt_in_ftp_user">
		<div class="label">{translate.FTP Username}:</div>
		<div class="value">
		    <input id="in_ftp_user" name="ftp[ftp_user]" size="30" value="{ftp.ftp_user|trim}" class="k_input" type="text" />
		</div>
	    </div>
	    <div class="edit_box" id="liopt_in_ftp_pass">
		<div class="label">{translate.FTP user password}:</div>
		<div class="value">
		    <input id="in_ftp_pass" type="password" name="ftp[ftp_pass]" size="30" class="k_input" type="text" />
		</div>
	    </div>
	    <div class="edit_box" id="liopt_in_ftp_dir">
		<div class="label">{translate.Directory name to change after connect}:</div>
		<div class="value">
		    <input id="in_ftp_dir" name="ftp[ftp_dir]" size="30" value="{ftp.ftp_dir|trim}" class="k_input" type="text" />
		</div>
	    </div>
	</div>
	<div class="km_clean"></div>
    </div>

</form>
