<link type="text/css" rel="stylesheet" href="{root}skins/kameleon/payment.css">
{include:_header.html}

<div class="km_fbtn">
    <a class="km_fbtn_normal" href="{root}payment/get/{payment.server.id}">{translate.Return}</a>
</div>

<div id="payment_content">
    <h1>{translate.Error}</h1>

    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="server_info">
                {payment.server|tokens.get_expire_info}
                <img src="data:image/jpg;base64,{payment.server.tmb}" title="{payment.server.nazwa_long}" />
                {payment.server.nazwa_long}
            </td>
            <td class="payment_info">
                <p class="info">{translate.There was an error processing payment}. <a href="{root}payment/get/{payment.server.id}">{translate.Try again}.</a></p>
            </td>
        </tr>
    </table>

</div>