
  <!-- tip 1 --> 
  <div id="tipContent" style="display: none"><div><b>Click pencil to edit your article.</b></div></div>  
  <div id="tipTitle" style="display: none">Kameleon Guide <a class="closeTip glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></a></a>
  </div> 
  <!-- end tip 1 --> 
  
  <!-- tip 2 --> 
  <div id="tipContent-2" style="display: none"><div><b>Type your article title here.</b><br><a href="#" class="nextTip btn btn-info">Next Tip</a></div></div>  
  <div id="tipTitle-2" style="display: none">Kameleon Guide <a class="closeTip glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></a></div> 
  <!-- end tip 2 --> 
  
  <!-- tip 3 --> 
  <div id="tipContent-3" style="display: none"><div><b>Now you can use your imagination to create beatifull and inspiring text. Just start typing anything you want.</b><br><a href="#" class="nextTip btn btn-info">Next Tip</a></div></div>  
  <div id="tipTitle-3" style="display: none">Kameleon Guide <a class="closeTip glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></a></div> 
  <!-- end tip 3 -->
  
  <!-- tip 4 -->
  <div id="tipContent-4" style="display: none"><div><b>Save your work by clicking this button.</b><br><a href="#" class="nextTip btn btn-info">Next Tip</a></div></div>  
  <div id="tipTitle-4" style="display: none">Kameleon Guide <a class="closeTip glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></a></div> 
  <!-- end tip 4 -->

  

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kameleon Warning!</h4>
      </div>
      <div class="modal-body">
        Do you really want to disable all tips? They are very usefull. You can lear a lot from it. Remember, that you can put on Hints by using help menu.
      </div>
      <div class="modal-footer">
        <a type="button" class="tips-back btn btn-default" data-dismiss="modal">Yes</a>
        <a class="btn btn-primary" data-dismiss="modal">No, I'm too dumb to go alone.</a>
      </div>
    </div>
  </div>
</div>

<div id="km-black-bg"></div>