<footer class="wk-footer">
    Copyright &copy; 2012-2014 <a href="http://www.webkameleon.com" target="_blank">webkameleon.com</a>
    
    {if:tac}&nbsp;<a href="{tac}" target="_blank" onclick="window.open(this.href,'tac','width=1024,height=600,location=no,menubar=no,toolbar=no,scrollbars=yes');return false">{translate.Terms and Conditions}</a>{endif:tac}

   
   <a href="?setuLang=en" class="flag flag-en" title="{translate.en}"></a>
   <a href="?setuLang=es" class="flag flag-es" title="{translate.es}"></a>
   <a href="?setuLang=pl" class="flag flag-pl" title="{translate.pl}"></a>
</footer>