.kmw_cookies {
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 0 0 5px 0 #131313;
    box-shadow: 0 0 5px 0 #131313;
    background: #f1f1f1;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    color: #131313;
    font-size: 12px;
    
}

.kmw_cookies_mobile {
    white-space:nowrap;
    overflow:hidden;
    padding-top: 3px !important;
}


.kmw_cookies a {
    color: #5677fc;
}

.kmw_cookies input {
    background-color: #5677fc;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border:0px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
}

.kmw_cookies input:hover {
    background: #555;
}